<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <hr>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>This First Heading <span class="text-muted">Will Catch You Eye</span></h2>
            <p>Donec ullammcorper nilla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-4">
            <img src="https://i.seadn.io/gae/PXZxzQg3kuAfFBAEejDD2O9yrxdG6DwuTh-_m0k7mb4uarUDwcPk_F3D8wv21jV3XP7kGK-G_AsQcbmPS0bqSotCg_F-GmhxNg9OXI4?auto=format&w=1000" class="rounded-circle" style="width: 250px; height: 250px;">
          </div>
        </div>
      </div>
      <br>
      
</body>
</html>