
    <hr>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>This First Heading <span class="text-muted">Will Catch You Eye</span></h2>
            <p>Donec ullammcorper nilla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-4">
            <img src="assets\img\1.jpg" class="rounded-circle" style="width: 250px; height: 250px;">
          </div>
        </div>
      </div>
      <br>
      

