
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Portafolio</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
                <p>Donec ullammcorper nilla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="assets\img\big-project-image.png" class="img-fluid">
                <br>
                <h2 class="text-primary">Project Name</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, turpis non consequat vestibulum, risus purus ornare nisi, ut posuere tortor purus ut odio. Sed ut eros non urna ultrices semper. </p>
			</div>
            <div class="col-md-4">
				<img src="assets\img\big-project-image.png" class="img-fluid">
                <br>
                <h2 class="text-primary">Project Name</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, turpis non consequat vestibulum, risus purus ornare nisi, ut posuere tortor purus ut odio. Sed ut eros non urna ultrices semper. </p>
			</div>
            <div class="col-md-4">
				<img src="assets\img\big-project-image.png" class="img-fluid">
                <br>
                <h2 class="text-primary">Project Name</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, turpis non consequat vestibulum, risus purus ornare nisi, ut posuere tortor purus ut odio. Sed ut eros non urna ultrices semper. </p>
			</div>
		</div>
        <br>
		
		</div>
	</div>

