
    <div class="container-fluid ">
        <div class="row">
           <div class="col-12">
            <img class="img-fluid "src="assets/img/bg.jpg" alt="">
            <div class="bg-white text-dark text-center">
            <h1 class="col-12 position-absolute bottom-50   mb-2 bg-white text-dark col-12 display-1 fw-bold ">One Page Wonder</h1>
            </div>
            <div class="col-12 bg-white text-dark text-center">
            <h3 class="position-absolute top-50   mb-2 bg-white text-dark col-12 display-5 fw-bold">Will knock your socks off</h3>
            </div>
           </div>
        </div>
    </div>



    