
    <div class="container-fluid ">
        <div class="row">
           <div class="col-12">
            <img class="img-fluid "src="assets/img/bg.jpg" alt="">
            <div class="bg-white text-dark text-center">
                <div class="position-absolute top-50  star-50 traslate-middle w-100 text-center ">
            <h1 class=" display-1 fw-bold bg-light">One Page Wonder</h1>
            <p class=" display-5 fw-bold bg-light ">Will knock your socks off</p>
            </div>
             </div>


           </div>
        </div>
    </div>


    